.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    align-self: center;
}

.back2 {
background-color: rgb(248, 163, 163);
}


.back3 {
    background-color: rgb(250, 124, 124);
    }


    .back4 {
        background-color: rgb(251, 0, 0);
        }
        
    



